<div class="row g-3">
<!--  <div class="col">-->
    <%#= form_for  %>
<!--    <select class="form-select">-->
<!--      <option value="" selected disabled>Z</option>-->
<!--      <option value="">A</option>-->
<!--      <option value="">B</option>-->
<!--      <option value="">C</option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <select class="form-select">-->
<!--      <option value="" selected disabled>Z</option>-->
<!--      <option value="">A</option>-->
<!--      <option value="">B</option>-->
<!--      <option value="">C</option>-->
<!--    </select>-->
<!--  </div>-->
</div>

