<title><%= provide(:title, "Home") %></title>

<main class="px-3">
  <h1>Lets play game!</h1>
  <p class="lead">Choose your game option</p>
  <p class="lead">
    <%= link_to "Join", rock_games_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    <%= link_to "Create", new_rock_game_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>  </p>
</main>